  <!-- Footer -->
  <footer>
  <div class="footer" style="margin-top: 40px; border-radius: 20px 20px 0px 0px; box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 35px; box-sizing: border-box; padding:15px; position: relative; left:0; bottom:0; width:100%; text-align: center; background-color: #222; font-size: 14px;  color: #fff;">
    <div class="made-with-love" style="color: #ff9800; margin: 5px 0;">Made with ❤ by WebCoderHub</div>
    
    <div class="social-links" style="
        margin-top: 10px; margin-bottom: 10px;">
        <a href="https://github.com/" target="_blank" style="
            margin: 0 10px; 
            color: #fff; 
            text-decoration: none; 
            font-size: 16px;">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://twitter.com/" target="_blank" style="
            margin: 0 10px; 
            color: #fff; 
            text-decoration: none; 
            font-size: 16px;">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://linkedin.com/" target="_blank" style="
            margin: 0 10px; 
            color: #fff; 
            text-decoration: none; 
            font-size: 16px;">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
    
    <div>
      © <span id='getYear'>
      <script>

      /*<![CDATA[*/ var d = new Date(); var n = d.getFullYear(); document.getElementById('getYear').innerHTML = n; /*]]>*/
      </script></span> ‧
      <bdi>
        <a href='/' style="color:red; text-decoration: none;">Open</a>
      </bdi>‧ All rights reserved.
    </div>
  </div>
</footer>
